.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    /* box-shadow: 1px 1px 1px; */
    /* box-shadow: 1px; */
    transition: left 0.1s ease-in-out;
    
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 70vh;
    width: 265px;
    overflow: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    
}
.autocomplete-suggestion {
    position: relative;
    cursor: pointer;
    padding: 7px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #E6F1FF;
}

.autocomplete-suggestion.selected {
    background: rgba(0, 156, 227, 0.1);
    color: #006EFF;
}

.autocomplete-suggestion:hover {
    background: rgba(0, 156, 227, 0.1);
    color: #006EFF;
}

.autocomplete-suggestion > .context {
    font-size: 12px;
}
