<header>
  <div class="logo">
    {{ partial "header.html" . }}
  </div>
  <div class="separator"></div>
  <div class="title">{{T "Product"}}</div>
  {{- with .Site.Menus.shortcuts}}
    <nav class="shortcuts">
    </nav>
  {{- end}}
  {{- if not .Site.Params.disableSearch}}
      <nav class="search">
          <div class="links">
              <a href="{{"docs.pdf" | relURL}}" target="_blank" class="linkscontainer" rel="noopener">
              <svg class="downloadicon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="#999"  d="M8.75,10.1893398 L10.9696699,7.96966991 C11.2625631,7.6767767 11.7374369,7.6767767 12.0303301,7.96966991 C12.3232233,8.26256313 12.3232233,8.73743687 12.0303301,9.03033009 L8.7215842,12.339076 C8.68520165,12.4213566 8.63329492,12.4984331 8.56586399,12.565864 C8.41037751,12.7213505 8.20360589,12.7942948 8,12.7846969 C7.79639411,12.7942948 7.58962249,12.7213505 7.43413601,12.565864 C7.36670508,12.4984331 7.31479835,12.4213566 7.2784158,12.339076 L3.96966991,9.03033009 C3.6767767,8.73743687 3.6767767,8.26256313 3.96966991,7.96966991 C4.26256313,7.6767767 4.73743687,7.6767767 5.03033009,7.96966991 L7.25,10.1893398 L7.25,1.5 C7.25,1.08578644 7.58578644,0.75 8,0.75 C8.41421356,0.75 8.75,1.08578644 8.75,1.5 L8.75,10.1893398 Z M13.75,13.75 L13.75,10.5 C13.75,10.0857864 14.0857864,9.75 14.5,9.75 C14.9142136,9.75 15.25,10.0857864 15.25,10.5 L15.25,14.5 C15.25,14.9142136 14.9142136,15.25 14.5,15.25 L1.5,15.25 C1.08578644,15.25 0.75,14.9142136 0.75,14.5 L0.75,10.5 C0.75,10.0857864 1.08578644,9.75 1.5,9.75 C1.91421356,9.75 2.25,10.0857864 2.25,10.5 L2.25,13.75 L13.75,13.75 Z"/>
              </svg>
              <div class="icontext">{{T "Download-docs"}}</div>
            </a>
          </div>
          <div class="searchbox outer">
            <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
            <img id="search-image" src="{{"images/search.svg" | relURL}}" style="display:none;">
            <script type="text/javascript">
              // very hacky but necessary for now
              var image = document.querySelector("#search-image");
              var search = document.querySelector("#search-by");
              if (image != null && search != null) {
                search.style.backgroundImage = "url('"+image.src+"')" ;
                
              }

            </script>
          </div>
        <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
        <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
        <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
        <script type="text/javascript">
          {{ if .Site.IsMultiLingual }}
              var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
          {{ else }}
              var baseurl = "{{.Site.BaseURL}}";
          {{ end }}
        </script>
        <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      </nav>
    {{- end}}
</header>
<article>
  <aside>
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            <i class="fa fa-fw fa-home"></i>
          </a>
          </li>
      {{- end}}

      {{- partial "menu.html" . }}

    </ul>
    
    {{- partial "language-selector.html" . }}
    <section>
        {{- partial "menu-footer.html" . }}
    </section>
  </aside>
  <section class="page">
    
    <div class="nav-select">
      <center>Navigation : 
        <select onchange="javascript:location.href = this.value;">
          {{partial "flex/selectnavigation.html" .}}
        </select>
      </center>
    </div>    
    {{- partial "breadcrumb.html" }}
    

    {{if not .IsHome}}
    <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span id="sidebar-toggle-span">
        <a href="#" id="sidebar-toggle" data-sidebar-toggle="">
          <i class="fa fa-bars"></i>
        </a>
      </span>
      <!-- <span id="toc-menu"><i class="fa fa-list-alt"></i></span> -->
      <span class="links">
      {{ template "breadcrumb" dict "page" . "value" .Title }}   
      </span>
  </div>
    <h1>{{.Title}}</h1><hr/>
    {{end}}